
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(255, 0, 126), rgb(20, 20, 20));
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    color: white;
    height: 90px;
    width: 75px;
    max-width: 75px;
    border: 3px solid gray;
    border-radius: 15px;
    margin: 0 5px;
}

.clock {
    font-size: 50px;
}

.input {
    margin-top: 30px;
    margin-left: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.buttons {
    height: 50px;
    width: 120px;
    max-width: 120px;
    border: 3px groove rgb(134, 134, 134);
    border-radius: 8px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.buttons:first-child {
    background-color: rgba(214, 23, 23, 0.8);
}

.buttons:nth-of-type(2) {
    background-color: rgba(214, 163, 23, 0.8);
}

.buttons:last-child {
    background-color: rgba(23, 214, 80, 0.8);
}